h1  {
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  header {
    justify-content: center;
    justify-items: first baseline;
    width: 1000px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: auto;
    text-align: center;
  }

  header img {
    width: 40%;
    margin: auto;
  }

  .titlename {
    margin-top: 0.4em;
    font-size: 6em;
    font-family: 'Amatic SC', cursive;
    border-bottom: 0.07em solid currentColor;
  }

  table {
    font-family: 'Raleway', sans-serif;
    margin: .3em;
    width: 290px;
  }
  
  th {
    padding: .2em;
  }
  
  td {
    background-color: #ffc;
    border: 1px solid #900;
    padding-left: .5em;
    padding-right: .5em;
  }
  
  #trHeader {
    color: #900;
    text-decoration: underline;
  }
  
  .centerCell {
    text-align: center;
  }
