html {
	font-size: 62.5%;
}
h1  {
    color: rgb(227, 227, 227);
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
  }
img {
    width: 100%;
    height: auto;
}
body {
  color: #444;
  background-color: rgb(32, 32, 32);
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', sans-serif;
}
  header {
    justify-content: center;
    justify-items: first baseline;
    width: 80em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: auto;
    text-align: center;
  }

  header img {
    width: 22em;
    height: 14em;
    margin: auto;
  }

  .titlename {
    margin-top: 0.4em;
    font-size: 6em;
    font-family: 'Amatic SC', cursive;
    border-bottom: 0.07em solid currentColor;
  }

  .st_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0em;
    font-size: 2em;
    color: rgb(227, 227, 227);
  }
  
  .st_text :first-child {
      align-self: center;
  }

